In [8]:
import pandas as pd
df1=pd.read_csv("https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv",sep="\t")
df2=pd.read_csv("https://raw.githubusercontent.com/justmarkham/DAT8/master/data/beer.txt",sep=" ")
df3=pd.read_csv("https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/04_Apply/US_Crime_Rates/US_Crime_Rates_1960_2014.csv")
df4=pd.read_csv("https://raw.githubusercontent.com/vincentarelbundock/Rdatasets/master/datasets.csv")

In [27]:
df1

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

In [42]:
df2

                    name  calories  sodium  alcohol  cost
0              Budweiser       144      15      4.7  0.43
1                Schlitz       151      19      4.9  0.43
2              Lowenbrau       157      15      0.9  0.48
3            Kronenbourg       170       7      5.2  0.73
4               Heineken       152      11      5.0  0.77
5          Old_Milwaukee       145      23      4.6  0.28
6             Augsberger       175      24      5.5  0.40
7   Srohs_Bohemian_Style       149      27      4.7  0.42
8            Miller_Lite        99      10      4.3  0.43
9        Budweiser_Light       113       8      3.7  0.40
10                 Coors       140      18      4.6  0.44
11           Coors_Light       102      15      4.1  0.46
12        Michelob_Light       135      11      4.2  0.50
13                 Becks       150      19      4.7  0.76
14                 Kirin       149       6      5.0  0.79
15     Pabst_Extra_Light        68      15      2.3  0.38
16                 Hamms       139      19      4.4  0.43
17   Heilemans_Old_Style       144      24      4.9  0.43
18   Olympia_Goled_Light        72       6      2.9  0.46
19         Schlitz_Light        97       7      4.2  0.47

In [45]:
df2

                    name  calories  sodium  alcohol  cost
0              Budweiser       144      15      4.7  0.43
1                Schlitz       151      19      4.9  0.43
2              Lowenbrau       157      15      0.9  0.48
3            Kronenbourg       170       7      5.2  0.73
4               Heineken       152      11      5.0  0.77
5          Old_Milwaukee       145      23      4.6  0.28
6             Augsberger       175      24      5.5  0.40
7   Srohs_Bohemian_Style       149      27      4.7  0.42
8            Miller_Lite        99      10      4.3  0.43
9        Budweiser_Light       113       8      3.7  0.40
10                 Coors       140      18      4.6  0.44
11           Coors_Light       102      15      4.1  0.46
12        Michelob_Light       135      11      4.2  0.50
13                 Becks       150      19      4.7  0.76
14                 Kirin       149       6      5.0  0.79
15     Pabst_Extra_Light        68      15      2.3  0.38
16                 Hamms       139      19      4.4  0.43
17   Heilemans_Old_Style       144      24      4.9  0.43
18   Olympia_Goled_Light        72       6      2.9  0.46
19         Schlitz_Light        97       7      4.2  0.47

In [29]:
df3

,Year,Population,Total,Violent,Property,Murder,Forcible_Rape,Robbery,Aggravated_assault,Burglary,Larceny_Theft,Vehicle_Theft
0,1960,179323175,3384200,288460,3095700,9110,17190,107840,154320,912100,1855400,328200
1,1961,182992000,3488000,289390,3198600,8740,17220,106670,156760,949600,1913000,336000
2,1962,185771000,3752200,301510,3450700,8530,17550,110860,164570,994300,2089600,366800
3,1963,188483000,4109500,316970,3792500,8640,17650,116470,174210,1086400,2297800,408300
4,1964,191141000,4564600,364220,4200400,9360,21420,130390,203050,1213200,2514400,472800
5,1965,193526000,4739400,387390,4352000,9960,23410,138690,215330,1282500,2572600,496900
6,1966,195576000,5223500,430180,4793300,11040,25820,157990,235330,1410100,2822000,561200
7,1967,197457000,5903400,499930,5403500,12240,27620,202910,257160,1632100,3111600,659800
8,1968,199399000,6720200,595010,6125200,13800,31670,262840,286700,1858900,3482700,783600
9,1969,201385000,7410900,661870,6749000,14760,37170,298850,311090,1981900,3888600,878500
10,1970,203235298,8098000,738820,7359200,16000,37990,349860,334970,2205000,4225800,928400
11,1971,206212000,8588200,816500,7771700,17780,42260,387700,368760,2399300,4424200,948200
12,1972,208230000,8248800,834900,7413900,18670,46850,376290,393090,2375500,4151200,887200
13,1973,209851000,8718100,875910,7842200,19640,51400,384220,420650,2565500,4347900,928800
14,1974,211392000,10253400,974720,9278700,20710,55400,442400,456210,3039200,5262500,977100
15,1975,213124000,11292400,1039710,10252700,20510,56090,470500,492620,3265300,5977700,1009600
16,1976,214659000,11349700,1004210,10345500,18780,57080,427810,500530,3108700,6270800,966000
17,1977,216332000,10984500,1029580,9955000,19120,63500,412610,534350,3071500,5905700,977700
18,1978,218059000,11209000,1085550,10123400,19560,67610,426930,571460,3128300,5991000,1004100
19,1979,220099000,12249500,1208030,11041500,21460,76390,480700,629480,3327700,6601000,1112800
20,1980,225349264,13408300,1344520,12063700,23040,82990,565840,672650,3795200,7136900,1131700
21,1981,229146000,13423800,1361820,12061900,22520,82500,592910,663900,3779700,7194400,1087800
22,1982,231534000,12974400,1322390,11652000,21010,78770,553130,669480,3447100,7142500,1062400
23,1983,233981000,12108600,1258090,10850500,19310,78920,506570,653290,3129900,6712800,1007900
24,1984,236158000,11881800,1273280,10608500,18690,84230,485010,685350,2984400,6591900,1032200
25,1985,238740000,12431400,1328800,11102600,18980,88670,497870,723250,3073300,6926400,1102900
26,1986,240132887,13211869,1489169,11722700,20613,91459,542775,834322,3241410,7257153,1224137
27,1987,242282918,13508700,1483999,12024700,20096,91110,517704,855088,3236184,7499900,1288674
28,1988,245807000,13923100,1566220,12356900,20680,92490,542970,910090,3218100,7705900,1432900
29,1989,248239000,14251400,1646040,12605400,21500,94500,578330,951710,3168200,7872400,1564800
30,1990,248709873,14475600,1820130,12655500,23440,102560,639270,1054860,3073900,7945700,1635900
31,1991,252177000,14872900,1911770,12961100,24700,106590,687730,1092740,3157200,8142200,1661700
32,1992,255082000,14438200,1932270,12505900,23760,109060,672480,1126970,2979900,7915200,1610800
33,1993,257908000,14144800,1926020,12218800,24530,106010,659870,1135610,2834800,7820900,1563100
34,1994,260341000,13989500,1857670,12131900,23330,102220,618950,1113180,2712800,7879800,1539300
35,1995,262755000,13862700,1798790,12063900,21610,97470,580510,1099210,2593800,7997700,1472400
36,1996,265228572,13493863,1688540,11805300,19650,96250,535590,1037050,2506400,7904700,1394200
37,1997,267637000,13194571,1634770,11558175,18208,96153,498534,1023201,2460526,7743760,1354189
38,1998,270296000,12475634,1531044,10944590,16914,93103,446625,974402,2329950,7373886,1240754
39,1999,272690813,11634378,1426044,10208334,15522,89411,409371,911740,2100739,6955520,1152075
40,2000,281421906,11608072,1425486,10182586,15586,90178,408016,911706,2050992,6971590,1160002
41,2001,285317559,11876669,1439480,10437480,16037,90863,423557,909023,2116531,7092267,1228391
42,2002,287973924,11878954,1423677,10455277,16229,95235,420806,891407,2151252,7057370,1246646
43,2003,290690788,11826538,1383676,10442862,16528,93883,414235,859030,2154834,7026802,1261226
44,2004,293656842,11679474,1360088,10319386,16148,95089,401470,847381,2144446,6937089,1237851
45,2005,296507061,11565499,1390745,10174754,16740,94347,417438,862220,2155448,6783447,1235859
46,2006,299398484,11401511,1418043,9983568,17030,92757,447403,860853,2183746,6607013,1192809
47,2007,301621157,11251828,1408337,9843481,16929,90427,445125,855856,2176140,6568572,1095769
48,2008,304374846,11160543,1392628,9767915,16442,90479,443574,842134,2228474,6588046,958629
49,2009,307006550,10762956,1325896,9337060,15399,89241,408742,812514,2203313,6338095,795652
50,2010,309330219,10363873,1251248,9112625,14772,85593,369089,781844,2168457,6204601,739565
51,2011,311587816,10258774,1206031,9052743,14661,84175,354772,752423,2185140,6151095,716508
52,2012,313873685,10219059,1217067,9001992,14866,85141,355051,762009,2109932,6168874,723186
53,2013,316497531,9850445,1199684,8650761,14319,82109,345095,726575,1931835,6018632,700294
54,2014,318857056,9475816,1197987,8277829,14249,84041,325802,741291,1729806,5858496,689527

In [30]:
df4

,Package,Item,Title,Rows,Cols,n_binary,n_character,n_factor,n_logical,n_numeric,CSV,Doc
0,AER,Affairs,Fair's Extramarital Affairs Data,601,9,2,0,2,0,7,https://vincentarelbundock.github.io/Rdatasets...,https://vincentarelbundock.github.io/Rdatasets...
1,AER,ArgentinaCPI,Consumer Price Index in Argentina,80,2,0,0,0,0,2,https://vincentarelbundock.github.io/Rdatasets...,https://vincentarelbundock.github.io/Rdatasets...
2,AER,BankWages,Bank Wages,474,4,2,0,3,0,1,https://vincentarelbundock.github.io/Rdatasets...,https://vincentarelbundock.github.io/Rdatasets...
3,AER,BenderlyZwick,"Benderly and Zwick Data: Inflation, Growth and...",31,5,0,0,0,0,5,https://vincentarelbundock.github.io/Rdatasets...,https://vincentarelbundock.github.io/Rdatasets...
4,AER,BondYield,Bond Yield Data,60,2,0,0,0,0,2,https://vincentarelbundock.github.io/Rdatasets...,https://vincentarelbundock.github.io/Rdatasets...
...,...,...,...,...,...,...,...,...,...,...,...,...
1709,vcd,UKSoccer,UK Soccer Scores,25,3,0,0,2,0,1,https://vincentarelbundock.github.io/Rdatasets...,https://vincentarelbundock.github.io/Rdatasets...
1710,vcd,VisualAcuity,Visual Acuity in Left and Right Eyes,32,4,1,0,3,0,1,https://vincentarelbundock.github.io/Rdatasets...,https://vincentarelbundock.github.io/Rdatasets...
1711,vcd,VonBort,Von Bortkiewicz Horse Kicks Data,280,4,1,0,2,0,2,https://vincentarelbundock.github.io/Rdatasets...,https://vincentarelbundock.github.io/Rdatasets...
1712,vcd,WeldonDice,Weldon's Dice Data,11,2,0,0,1,0,1,https://vincentarelbundock.github.io/Rdatasets...,https://vincentarelbundock.github.io/Rdatasets...
1713,vcd,WomenQueue,Women in Queues,11,2,0,0,1,0,1,https://vincentarelbundock.github.io/Rdatasets...,https://vincentarelbundock.github.io/Rdatasets...

In [ ]:
df1.shape

In [17]:
df2.index

RangeIndex(start=0, stop=20, step=1)

In [18]:
df3.index

RangeIndex(start=0, stop=55, step=1)

In [19]:
df4.index

RangeIndex(start=0, stop=1714, step=1)

In [38]:
c=df1.groupby("item_name")
c=c.sum()
c=c.sort_values(['quantity'],ascending=False)
c.head(1)

              order_id  quantity
item_name
Chicken Bowl    713926       761

Most costly beer

In [55]:
c=df2.groupby('name').sum()
c=c.sort_values(['cost'],ascending=False)
c.head(1)

       calories  sodium  alcohol  cost
name
Kirin       149       6      5.0  0.79

In [ ]:
Max murder rate

In [57]:
c=df3.groupby('Year').sum()
c=c.sort_values(['Murder'],ascending=False)
c.head(1)

,Population,Total,Violent,Property,Murder,Forcible_Rape,Robbery,Aggravated_assault,Burglary,Larceny_Theft,Vehicle_Theft
Year,,,,,,,,,,,
1991,252177000,14872900,1911770,12961100,24700,106590,687730,1092740,3157200,8142200,1661700

Package having max rows

In [60]:
c=df4.groupby('Package').sum()
c=c.sort_values(['Rows'],ascending=False)
c.head(1)

,Rows,Cols,n_binary,n_character,n_factor,n_logical,n_numeric
Package,,,,,,,
openintro,2093481,1429,283,156,346,17,898

Replacing dollar sign and calculating the revenue

In [80]:
df1['item_price']=df1['item_price'].replace("$",'')
c=(df1['quantity']*df1['item_price']).sum()
print("Revenue",c)

Revenue 39237.02

displaying max price and creating a new column displaying revenue of each item

In [111]:
df1[df1['item_price']==max(df1['item_price'])]
fil=df1.drop_duplicates(['item_name'])

fil['Revenue']=(fil['quantity']*fil['item_price'])
fil

C:\Users\daksh\anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

,order_id,quantity,item_name,choice_description,item_price,Revenue
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39,2.39
1,1,1,Izze,[Clementine],3.39,3.39
2,1,1,Nantucket Nectar,[Apple],3.39,3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98,33.96
6,3,1,Side of Chips,NaN,1.69,1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",11.75,11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",9.25,9.25
10,5,1,Chips and Guacamole,NaN,4.45,4.45
11,6,1,Chicken Crispy Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",8.75,8.75
12,6,1,Chicken Soft Tacos,"[Roasted Chili Corn Salsa, [Rice, Black Beans,...",8.75,8.75
16,8,1,Chicken Burrito,"[Tomatillo-Green Chili Salsa (Medium), [Pinto ...",8.49,8.49
18,9,2,Canned Soda,[Sprite],2.18,4.36
21,11,1,Barbacoa Burrito,"[[Fresh Tomato Salsa (Mild), Tomatillo-Green C...",8.99,8.99
27,14,1,Carnitas Burrito,"[[Tomatillo-Green Chili Salsa (Medium), Roaste...",8.99,8.99
33,17,1,Carnitas Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",8.99,8.99
34,17,1,Bottled Water,NaN,1.09,1.09
38,18,1,Chips and Tomatillo Green Chili Salsa,NaN,2.95,2.95
39,19,1,Barbacoa Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",11.75,11.75
40,19,1,Chips,NaN,2.15,2.15
44,20,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",8.75,8.75
54,25,1,Steak Bowl,"[Fresh Tomato Salsa (Mild), [Black Beans, Rice...",8.99,8.99
56,26,1,Barbacoa Soft Tacos,"[Fresh Tomato Salsa, [Fajita Vegetables, Black...",9.25,9.25
57,26,1,Veggie Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",11.25,11.25
62,28,1,Veggie Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25,11.25
92,40,1,Steak Crispy Tacos,"[Fresh Tomato Salsa, Sour Cream]",9.25,9.25
111,49,1,Chips and Tomatillo Red Chili Salsa,NaN,2.95,2.95
168,75,1,Barbacoa Crispy Tacos,"[Tomatillo Red Chili Salsa, [Rice, Black Beans...",11.75,11.75
186,83,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25,11.25
191,85,1,Chips and Roasted Chili-Corn Salsa,NaN,2.39,2.39
233,102,1,Chips and Roasted Chili Corn Salsa,NaN,2.95,2.95
237,103,1,Carnitas Soft Tacos,"[Tomatillo Green Chili Salsa, [Fajita Vegetabl...",9.25,9.25
250,109,1,Chicken Salad,"[Roasted Chili Corn Salsa (Medium), [Black Bea...",10.98,10.98
263,114,1,Canned Soft Drink,[Coke],1.25,1.25
281,123,2,Steak Salad Bowl,"[Tomatillo Red Chili Salsa, [Black Beans, Chee...",23.78,47.56
298,129,1,6 Pack Soft Drink,[Sprite],6.49,6.49
300,130,1,Chips and Tomatillo-Red Chili Salsa,NaN,2.39,2.39
445,193,3,Bowl,"[Braised Carnitas, Pinto Beans, [Sour Cream, C...",22.20,66.60
510,214,1,Burrito,"[Adobo-Marinated and Grilled Chicken, Pinto Be...",7.40,7.40
520,217,1,Crispy Tacos,[Adobo-Marinated and Grilled Steak],7.40,7.40
554,230,1,Carnitas Crispy Tacos,[Roasted Chili Corn Salsa],9.25,9.25
664,276,1,Steak Salad,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",8.99,8.99
674,279,1,Chips and Mild Fresh Tomato Salsa,NaN,3.00,3.00
738,304,1,Veggie Soft Tacos,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",11.25,11.25
1132,468,1,Carnitas Salad Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",11.89,11.89
1229,501,1,Barbacoa Salad Bowl,"[Fresh Tomato Salsa, [Rice, Fajita Vegetables,...",11.89,11.89
1414,575,1,Salad,"[Brown Rice, Adobo-Marinated and Grilled Chick...",7.40,7.40
1653,668,1,Veggie Crispy Tacos,"[Fresh Tomato Salsa (Mild), [Pinto Beans, Rice...",8.49,8.49
1694,686,1,Veggie Salad,"[[Fresh Tomato Salsa (Mild), Roasted Chili Cor...",8.49,8.49
3750,1500,1,Carnitas Salad,"[[Fresh Tomato Salsa (Mild), Roasted Chili Cor...",8.99,8.99

Sodium-alcohol

In [92]:
df2['Sodium-alcohol']=df2['sodium']*df2['alcohol']

In [93]:
df2

                    name  calories  sodium  alcohol  cost  Sodium-alcohol
0              Budweiser       144      15      4.7  0.43            70.5
1                Schlitz       151      19      4.9  0.43            93.1
2              Lowenbrau       157      15      0.9  0.48            13.5
3            Kronenbourg       170       7      5.2  0.73            36.4
4               Heineken       152      11      5.0  0.77            55.0
5          Old_Milwaukee       145      23      4.6  0.28           105.8
6             Augsberger       175      24      5.5  0.40           132.0
7   Srohs_Bohemian_Style       149      27      4.7  0.42           126.9
8            Miller_Lite        99      10      4.3  0.43            43.0
9        Budweiser_Light       113       8      3.7  0.40            29.6
10                 Coors       140      18      4.6  0.44            82.8
11           Coors_Light       102      15      4.1  0.46            61.5
12        Michelob_Light       135      11      4.2  0.50            46.2
13                 Becks       150      19      4.7  0.76            89.3
14                 Kirin       149       6      5.0  0.79            30.0
15     Pabst_Extra_Light        68      15      2.3  0.38            34.5
16                 Hamms       139      19      4.4  0.43            83.6
17   Heilemans_Old_Style       144      24      4.9  0.43           117.6
18   Olympia_Goled_Light        72       6      2.9  0.46            17.4
19         Schlitz_Light        97       7      4.2  0.47            29.4

Max Burglary

In [103]:
df3[df3['Burglary']==max(df3['Burglary'])]

,Year,Population,Total,Violent,Property,Murder,Forcible_Rape,Robbery,Aggravated_assault,Burglary,Larceny_Theft,Vehicle_Theft
20,1980,225349264,13408300,1344520,12063700,23040,82990,565840,672650,3795200,7136900,1131700

In [112]:
filtered=df1.drop_duplicates(['item_name','quantity'])

In [114]:
del df1['Revenue']

In [115]:
df1

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",8.75

In [116]:
df1.sort_values(['item_price'],ascending=True)

,order_id,quantity,item_name,choice_description,item_price
1140,471,1,Bottled Water,NaN,1.09
821,338,1,Canned Soda,[Coca Cola],1.09
3926,1575,1,Canned Soda,[Dr. Pepper],1.09
107,47,1,Canned Soda,[Dr. Pepper],1.09
2562,1014,1,Canned Soda,[Coca Cola],1.09
...,...,...,...,...,...
3601,1443,3,Veggie Burrito,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",33.75
3602,1443,4,Chicken Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",35.00
1254,511,4,Chicken Burrito,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",35.00
3480,1398,3,Carnitas Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",35.25
3598,1443,15,Chips and Fresh Tomato Salsa,NaN,44.25

sorting values of other datasets

In [118]:
df4.sort_values(['Cols'],ascending=True)

,Package,Item,Title,Rows,Cols,n_binary,n_character,n_factor,n_logical,n_numeric,CSV,Doc
57,AER,MSCISwitzerland,MSCI Switzerland Index,4697,1,0,0,0,0,1,https://vincentarelbundock.github.io/Rdatasets...,https://vincentarelbundock.github.io/Rdatasets...
129,boot,darwin,Darwin's Plant Height Differences,15,1,0,0,0,0,1,https://vincentarelbundock.github.io/Rdatasets...,https://vincentarelbundock.github.io/Rdatasets...
1011,mosaicData,Cards,Standard Deck of Cards,52,1,0,1,0,0,0,https://vincentarelbundock.github.io/Rdatasets...,https://vincentarelbundock.github.io/Rdatasets...
128,boot,coal,Dates of Coal Mining Disasters,191,1,0,0,0,0,1,https://vincentarelbundock.github.io/Rdatasets...,https://vincentarelbundock.github.io/Rdatasets...
232,causaldata,gov_transfers_density,"Data from ""Government Transfers and Political ...",52549,1,0,0,0,0,1,https://vincentarelbundock.github.io/Rdatasets...,https://vincentarelbundock.github.io/Rdatasets...
...,...,...,...,...,...,...,...,...,...,...,...,...
718,gap,crohn,Internal functions for gap,387,212,2,0,1,0,211,https://vincentarelbundock.github.io/Rdatasets...,https://vincentarelbundock.github.io/Rdatasets...
383,DAAG,rockArt,Pacific Rock Art features,103,641,624,13,0,0,628,https://vincentarelbundock.github.io/Rdatasets...,https://vincentarelbundock.github.io/Rdatasets...
1020,mosaicData,HELPfull,Health Evaluation and Linkage to Primary Care,1472,788,329,0,6,0,782,https://vincentarelbundock.github.io/Rdatasets...,https://vincentarelbundock.github.io/Rdatasets...
1258,plyr,ozone,Monthly ozone measurements over Central America.,24,1728,0,0,0,0,1728,https://vincentarelbundock.github.io/Rdatasets...,https://vincentarelbundock.github.io/Rdatasets...
859,ISLR,NCI60,NCI 60 Data,64,6831,0,1,0,0,6830,https://vincentarelbundock.github.io/Rdatasets...,https://vincentarelbundock.github.io/Rdatasets...

In [119]:
df2.sort_values(['cost'],ascending=True)

                    name  calories  sodium  alcohol  cost  Sodium-alcohol
5          Old_Milwaukee       145      23      4.6  0.28           105.8
15     Pabst_Extra_Light        68      15      2.3  0.38            34.5
9        Budweiser_Light       113       8      3.7  0.40            29.6
6             Augsberger       175      24      5.5  0.40           132.0
7   Srohs_Bohemian_Style       149      27      4.7  0.42           126.9
17   Heilemans_Old_Style       144      24      4.9  0.43           117.6
16                 Hamms       139      19      4.4  0.43            83.6
8            Miller_Lite        99      10      4.3  0.43            43.0
0              Budweiser       144      15      4.7  0.43            70.5
1                Schlitz       151      19      4.9  0.43            93.1
10                 Coors       140      18      4.6  0.44            82.8
18   Olympia_Goled_Light        72       6      2.9  0.46            17.4
11           Coors_Light       102      15      4.1  0.46            61.5
19         Schlitz_Light        97       7      4.2  0.47            29.4
2              Lowenbrau       157      15      0.9  0.48            13.5
12        Michelob_Light       135      11      4.2  0.50            46.2
3            Kronenbourg       170       7      5.2  0.73            36.4
13                 Becks       150      19      4.7  0.76            89.3
4               Heineken       152      11      5.0  0.77            55.0
14                 Kirin       149       6      5.0  0.79            30.0

In [120]:
df3.sort_values(['Robbery'],ascending=True)

,Year,Population,Total,Violent,Property,Murder,Forcible_Rape,Robbery,Aggravated_assault,Burglary,Larceny_Theft,Vehicle_Theft
1,1961,182992000,3488000,289390,3198600,8740,17220,106670,156760,949600,1913000,336000
0,1960,179323175,3384200,288460,3095700,9110,17190,107840,154320,912100,1855400,328200
2,1962,185771000,3752200,301510,3450700,8530,17550,110860,164570,994300,2089600,366800
3,1963,188483000,4109500,316970,3792500,8640,17650,116470,174210,1086400,2297800,408300
4,1964,191141000,4564600,364220,4200400,9360,21420,130390,203050,1213200,2514400,472800
5,1965,193526000,4739400,387390,4352000,9960,23410,138690,215330,1282500,2572600,496900
6,1966,195576000,5223500,430180,4793300,11040,25820,157990,235330,1410100,2822000,561200
7,1967,197457000,5903400,499930,5403500,12240,27620,202910,257160,1632100,3111600,659800
8,1968,199399000,6720200,595010,6125200,13800,31670,262840,286700,1858900,3482700,783600
9,1969,201385000,7410900,661870,6749000,14760,37170,298850,311090,1981900,3888600,878500
54,2014,318857056,9475816,1197987,8277829,14249,84041,325802,741291,1729806,5858496,689527
53,2013,316497531,9850445,1199684,8650761,14319,82109,345095,726575,1931835,6018632,700294
10,1970,203235298,8098000,738820,7359200,16000,37990,349860,334970,2205000,4225800,928400
51,2011,311587816,10258774,1206031,9052743,14661,84175,354772,752423,2185140,6151095,716508
52,2012,313873685,10219059,1217067,9001992,14866,85141,355051,762009,2109932,6168874,723186
50,2010,309330219,10363873,1251248,9112625,14772,85593,369089,781844,2168457,6204601,739565
12,1972,208230000,8248800,834900,7413900,18670,46850,376290,393090,2375500,4151200,887200
13,1973,209851000,8718100,875910,7842200,19640,51400,384220,420650,2565500,4347900,928800
11,1971,206212000,8588200,816500,7771700,17780,42260,387700,368760,2399300,4424200,948200
44,2004,293656842,11679474,1360088,10319386,16148,95089,401470,847381,2144446,6937089,1237851
40,2000,281421906,11608072,1425486,10182586,15586,90178,408016,911706,2050992,6971590,1160002
49,2009,307006550,10762956,1325896,9337060,15399,89241,408742,812514,2203313,6338095,795652
39,1999,272690813,11634378,1426044,10208334,15522,89411,409371,911740,2100739,6955520,1152075
17,1977,216332000,10984500,1029580,9955000,19120,63500,412610,534350,3071500,5905700,977700
43,2003,290690788,11826538,1383676,10442862,16528,93883,414235,859030,2154834,7026802,1261226
45,2005,296507061,11565499,1390745,10174754,16740,94347,417438,862220,2155448,6783447,1235859
42,2002,287973924,11878954,1423677,10455277,16229,95235,420806,891407,2151252,7057370,1246646
41,2001,285317559,11876669,1439480,10437480,16037,90863,423557,909023,2116531,7092267,1228391
18,1978,218059000,11209000,1085550,10123400,19560,67610,426930,571460,3128300,5991000,1004100
16,1976,214659000,11349700,1004210,10345500,18780,57080,427810,500530,3108700,6270800,966000
14,1974,211392000,10253400,974720,9278700,20710,55400,442400,456210,3039200,5262500,977100
48,2008,304374846,11160543,1392628,9767915,16442,90479,443574,842134,2228474,6588046,958629
47,2007,301621157,11251828,1408337,9843481,16929,90427,445125,855856,2176140,6568572,1095769
38,1998,270296000,12475634,1531044,10944590,16914,93103,446625,974402,2329950,7373886,1240754
46,2006,299398484,11401511,1418043,9983568,17030,92757,447403,860853,2183746,6607013,1192809
15,1975,213124000,11292400,1039710,10252700,20510,56090,470500,492620,3265300,5977700,1009600
19,1979,220099000,12249500,1208030,11041500,21460,76390,480700,629480,3327700,6601000,1112800
24,1984,236158000,11881800,1273280,10608500,18690,84230,485010,685350,2984400,6591900,1032200
25,1985,238740000,12431400,1328800,11102600,18980,88670,497870,723250,3073300,6926400,1102900
37,1997,267637000,13194571,1634770,11558175,18208,96153,498534,1023201,2460526,7743760,1354189
23,1983,233981000,12108600,1258090,10850500,19310,78920,506570,653290,3129900,6712800,1007900
27,1987,242282918,13508700,1483999,12024700,20096,91110,517704,855088,3236184,7499900,1288674
36,1996,265228572,13493863,1688540,11805300,19650,96250,535590,1037050,2506400,7904700,1394200
26,1986,240132887,13211869,1489169,11722700,20613,91459,542775,834322,3241410,7257153,1224137
28,1988,245807000,13923100,1566220,12356900,20680,92490,542970,910090,3218100,7705900,1432900
22,1982,231534000,12974400,1322390,11652000,21010,78770,553130,669480,3447100,7142500,1062400
20,1980,225349264,13408300,1344520,12063700,23040,82990,565840,672650,3795200,7136900,1131700
29,1989,248239000,14251400,1646040,12605400,21500,94500,578330,951710,3168200,7872400,1564800
35,1995,262755000,13862700,1798790,12063900,21610,97470,580510,1099210,2593800,7997700,1472400
21,1981,229146000,13423800,1361820,12061900,22520,82500,592910,663900,3779700,7194400,1087800
34,1994,260341000,13989500,1857670,12131900,23330,102220,618950,1113180,2712800,7879800,1539300
30,1990,248709873,14475600,1820130,12655500,23440,102560,639270,1054860,3073900,7945700,1635900
33,1993,257908000,14144800,1926020,12218800,24530,106010,659870,1135610,2834800,7820900,1563100
32,1992,255082000,14438200,1932270,12505900,23760,109060,672480,1126970,2979900,7915200,1610800
31,1991,252177000,14872900,1911770,12961100,24700,106590,687730,1092740,3157200,8142200,1661700

Cost column describe by sodium column

In [126]:
df2.groupby('sodium').cost.describe()

        count    mean       std   min     25%    50%     75%   max
sodium
6         2.0  0.6250  0.233345  0.46  0.5425  0.625  0.7075  0.79
7         2.0  0.6000  0.183848  0.47  0.5350  0.600  0.6650  0.73
8         1.0  0.4000       NaN  0.40  0.4000  0.400  0.4000  0.40
10        1.0  0.4300       NaN  0.43  0.4300  0.430  0.4300  0.43
11        2.0  0.6350  0.190919  0.50  0.5675  0.635  0.7025  0.77
15        4.0  0.4375  0.043493  0.38  0.4175  0.445  0.4650  0.48
18        1.0  0.4400       NaN  0.44  0.4400  0.440  0.4400  0.44
19        3.0  0.5400  0.190526  0.43  0.4300  0.430  0.5950  0.76
23        1.0  0.2800       NaN  0.28  0.2800  0.280  0.2800  0.28
24        2.0  0.4150  0.021213  0.40  0.4075  0.415  0.4225  0.43
27        1.0  0.4200       NaN  0.42  0.4200  0.420  0.4200  0.42

In [127]:
df4.groupby('CSV').Cols.describe()

,count,mean,std,min,25%,50%,75%,max
CSV,,,,,,,,
https://vincentarelbundock.github.io/Rdatasets/csv/AER/Affairs.csv,1.0,9.0,NaN,9.0,9.0,9.0,9.0,9.0
https://vincentarelbundock.github.io/Rdatasets/csv/AER/ArgentinaCPI.csv,1.0,2.0,NaN,2.0,2.0,2.0,2.0,2.0
https://vincentarelbundock.github.io/Rdatasets/csv/AER/BankWages.csv,1.0,4.0,NaN,4.0,4.0,4.0,4.0,4.0
https://vincentarelbundock.github.io/Rdatasets/csv/AER/BenderlyZwick.csv,1.0,5.0,NaN,5.0,5.0,5.0,5.0,5.0
https://vincentarelbundock.github.io/Rdatasets/csv/AER/BondYield.csv,1.0,2.0,NaN,2.0,2.0,2.0,2.0,2.0
...,...,...,...,...,...,...,...,...
https://vincentarelbundock.github.io/Rdatasets/csv/vcd/UKSoccer.csv,1.0,3.0,NaN,3.0,3.0,3.0,3.0,3.0
https://vincentarelbundock.github.io/Rdatasets/csv/vcd/VisualAcuity.csv,1.0,4.0,NaN,4.0,4.0,4.0,4.0,4.0
https://vincentarelbundock.github.io/Rdatasets/csv/vcd/VonBort.csv,1.0,4.0,NaN,4.0,4.0,4.0,4.0,4.0
https://vincentarelbundock.github.io/Rdatasets/csv/vcd/WeldonDice.csv,1.0,2.0,NaN,2.0,2.0,2.0,2.0,2.0
https://vincentarelbundock.github.io/Rdatasets/csv/vcd/WomenQueue.csv,1.0,2.0,NaN,2.0,2.0,2.0,2.0,2.0

Set Year column as index

In [129]:
df3=df3.set_index('Year',drop=True)
df3.head()

,Population,Total,Violent,Property,Murder,Forcible_Rape,Robbery,Aggravated_assault,Burglary,Larceny_Theft,Vehicle_Theft
Year,,,,,,,,,,,
1960,179323175,3384200,288460,3095700,9110,17190,107840,154320,912100,1855400,328200
1961,182992000,3488000,289390,3198600,8740,17220,106670,156760,949600,1913000,336000
1962,185771000,3752200,301510,3450700,8530,17550,110860,164570,994300,2089600,366800
1963,188483000,4109500,316970,3792500,8640,17650,116470,174210,1086400,2297800,408300
1964,191141000,4564600,364220,4200400,9360,21420,130390,203050,1213200,2514400,472800

Return first 3 rows of dataset 4

In [130]:
df4.iloc[:5]

,Package,Item,Title,Rows,Cols,n_binary,n_character,n_factor,n_logical,n_numeric,CSV,Doc
0,AER,Affairs,Fair's Extramarital Affairs Data,601,9,2,0,2,0,7,https://vincentarelbundock.github.io/Rdatasets...,https://vincentarelbundock.github.io/Rdatasets...
1,AER,ArgentinaCPI,Consumer Price Index in Argentina,80,2,0,0,0,0,2,https://vincentarelbundock.github.io/Rdatasets...,https://vincentarelbundock.github.io/Rdatasets...
2,AER,BankWages,Bank Wages,474,4,2,0,3,0,1,https://vincentarelbundock.github.io/Rdatasets...,https://vincentarelbundock.github.io/Rdatasets...
3,AER,BenderlyZwick,"Benderly and Zwick Data: Inflation, Growth and...",31,5,0,0,0,0,5,https://vincentarelbundock.github.io/Rdatasets...,https://vincentarelbundock.github.io/Rdatasets...
4,AER,BondYield,Bond Yield Data,60,2,0,0,0,0,2,https://vincentarelbundock.github.io/Rdatasets...,https://vincentarelbundock.github.io/Rdatasets...

Selecting specific columns

In [138]:
df3.iloc[:,1:4].head()

        Total  Violent  Property
Year
1960  3384200   288460   3095700
1961  3488000   289390   3198600
1962  3752200   301510   3450700
1963  4109500   316970   3792500
1964  4564600   364220   4200400

In [140]:
df2.loc[df2.index[[3, 4, 8]], ['name', 'sodium']]

          name  sodium
3  Kronenbourg       7
4     Heineken      11
8  Miller_Lite      10

In [141]:
df3

,Population,Total,Violent,Property,Murder,Forcible_Rape,Robbery,Aggravated_assault,Burglary,Larceny_Theft,Vehicle_Theft
Year,,,,,,,,,,,
1960,179323175,3384200,288460,3095700,9110,17190,107840,154320,912100,1855400,328200
1961,182992000,3488000,289390,3198600,8740,17220,106670,156760,949600,1913000,336000
1962,185771000,3752200,301510,3450700,8530,17550,110860,164570,994300,2089600,366800
1963,188483000,4109500,316970,3792500,8640,17650,116470,174210,1086400,2297800,408300
1964,191141000,4564600,364220,4200400,9360,21420,130390,203050,1213200,2514400,472800
1965,193526000,4739400,387390,4352000,9960,23410,138690,215330,1282500,2572600,496900
1966,195576000,5223500,430180,4793300,11040,25820,157990,235330,1410100,2822000,561200
1967,197457000,5903400,499930,5403500,12240,27620,202910,257160,1632100,3111600,659800
1968,199399000,6720200,595010,6125200,13800,31670,262840,286700,1858900,3482700,783600
1969,201385000,7410900,661870,6749000,14760,37170,298850,311090,1981900,3888600,878500
1970,203235298,8098000,738820,7359200,16000,37990,349860,334970,2205000,4225800,928400
1971,206212000,8588200,816500,7771700,17780,42260,387700,368760,2399300,4424200,948200
1972,208230000,8248800,834900,7413900,18670,46850,376290,393090,2375500,4151200,887200
1973,209851000,8718100,875910,7842200,19640,51400,384220,420650,2565500,4347900,928800
1974,211392000,10253400,974720,9278700,20710,55400,442400,456210,3039200,5262500,977100
1975,213124000,11292400,1039710,10252700,20510,56090,470500,492620,3265300,5977700,1009600
1976,214659000,11349700,1004210,10345500,18780,57080,427810,500530,3108700,6270800,966000
1977,216332000,10984500,1029580,9955000,19120,63500,412610,534350,3071500,5905700,977700
1978,218059000,11209000,1085550,10123400,19560,67610,426930,571460,3128300,5991000,1004100
1979,220099000,12249500,1208030,11041500,21460,76390,480700,629480,3327700,6601000,1112800
1980,225349264,13408300,1344520,12063700,23040,82990,565840,672650,3795200,7136900,1131700
1981,229146000,13423800,1361820,12061900,22520,82500,592910,663900,3779700,7194400,1087800
1982,231534000,12974400,1322390,11652000,21010,78770,553130,669480,3447100,7142500,1062400
1983,233981000,12108600,1258090,10850500,19310,78920,506570,653290,3129900,6712800,1007900
1984,236158000,11881800,1273280,10608500,18690,84230,485010,685350,2984400,6591900,1032200
1985,238740000,12431400,1328800,11102600,18980,88670,497870,723250,3073300,6926400,1102900
1986,240132887,13211869,1489169,11722700,20613,91459,542775,834322,3241410,7257153,1224137
1987,242282918,13508700,1483999,12024700,20096,91110,517704,855088,3236184,7499900,1288674
1988,245807000,13923100,1566220,12356900,20680,92490,542970,910090,3218100,7705900,1432900
1989,248239000,14251400,1646040,12605400,21500,94500,578330,951710,3168200,7872400,1564800
1990,248709873,14475600,1820130,12655500,23440,102560,639270,1054860,3073900,7945700,1635900
1991,252177000,14872900,1911770,12961100,24700,106590,687730,1092740,3157200,8142200,1661700
1992,255082000,14438200,1932270,12505900,23760,109060,672480,1126970,2979900,7915200,1610800
1993,257908000,14144800,1926020,12218800,24530,106010,659870,1135610,2834800,7820900,1563100
1994,260341000,13989500,1857670,12131900,23330,102220,618950,1113180,2712800,7879800,1539300
1995,262755000,13862700,1798790,12063900,21610,97470,580510,1099210,2593800,7997700,1472400
1996,265228572,13493863,1688540,11805300,19650,96250,535590,1037050,2506400,7904700,1394200
1997,267637000,13194571,1634770,11558175,18208,96153,498534,1023201,2460526,7743760,1354189
1998,270296000,12475634,1531044,10944590,16914,93103,446625,974402,2329950,7373886,1240754
1999,272690813,11634378,1426044,10208334,15522,89411,409371,911740,2100739,6955520,1152075
2000,281421906,11608072,1425486,10182586,15586,90178,408016,911706,2050992,6971590,1160002
2001,285317559,11876669,1439480,10437480,16037,90863,423557,909023,2116531,7092267,1228391
2002,287973924,11878954,1423677,10455277,16229,95235,420806,891407,2151252,7057370,1246646
2003,290690788,11826538,1383676,10442862,16528,93883,414235,859030,2154834,7026802,1261226
2004,293656842,11679474,1360088,10319386,16148,95089,401470,847381,2144446,6937089,1237851
2005,296507061,11565499,1390745,10174754,16740,94347,417438,862220,2155448,6783447,1235859
2006,299398484,11401511,1418043,9983568,17030,92757,447403,860853,2183746,6607013,1192809
2007,301621157,11251828,1408337,9843481,16929,90427,445125,855856,2176140,6568572,1095769
2008,304374846,11160543,1392628,9767915,16442,90479,443574,842134,2228474,6588046,958629
2009,307006550,10762956,1325896,9337060,15399,89241,408742,812514,2203313,6338095,795652
2010,309330219,10363873,1251248,9112625,14772,85593,369089,781844,2168457,6204601,739565
2011,311587816,10258774,1206031,9052743,14661,84175,354772,752423,2185140,6151095,716508
2012,313873685,10219059,1217067,9001992,14866,85141,355051,762009,2109932,6168874,723186
2013,316497531,9850445,1199684,8650761,14319,82109,345095,726575,1931835,6018632,700294
2014,318857056,9475816,1197987,8277829,14249,84041,325802,741291,1729806,5858496,689527

In [147]:
df3[df3['Population'].between(200000000,300000000)]

,Population,Total,Violent,Property,Murder,Forcible_Rape,Robbery,Aggravated_assault,Burglary,Larceny_Theft,Vehicle_Theft
Year,,,,,,,,,,,
1969,201385000,7410900,661870,6749000,14760,37170,298850,311090,1981900,3888600,878500
1970,203235298,8098000,738820,7359200,16000,37990,349860,334970,2205000,4225800,928400
1971,206212000,8588200,816500,7771700,17780,42260,387700,368760,2399300,4424200,948200
1972,208230000,8248800,834900,7413900,18670,46850,376290,393090,2375500,4151200,887200
1973,209851000,8718100,875910,7842200,19640,51400,384220,420650,2565500,4347900,928800
1974,211392000,10253400,974720,9278700,20710,55400,442400,456210,3039200,5262500,977100
1975,213124000,11292400,1039710,10252700,20510,56090,470500,492620,3265300,5977700,1009600
1976,214659000,11349700,1004210,10345500,18780,57080,427810,500530,3108700,6270800,966000
1977,216332000,10984500,1029580,9955000,19120,63500,412610,534350,3071500,5905700,977700
1978,218059000,11209000,1085550,10123400,19560,67610,426930,571460,3128300,5991000,1004100
1979,220099000,12249500,1208030,11041500,21460,76390,480700,629480,3327700,6601000,1112800
1980,225349264,13408300,1344520,12063700,23040,82990,565840,672650,3795200,7136900,1131700
1981,229146000,13423800,1361820,12061900,22520,82500,592910,663900,3779700,7194400,1087800
1982,231534000,12974400,1322390,11652000,21010,78770,553130,669480,3447100,7142500,1062400
1983,233981000,12108600,1258090,10850500,19310,78920,506570,653290,3129900,6712800,1007900
1984,236158000,11881800,1273280,10608500,18690,84230,485010,685350,2984400,6591900,1032200
1985,238740000,12431400,1328800,11102600,18980,88670,497870,723250,3073300,6926400,1102900
1986,240132887,13211869,1489169,11722700,20613,91459,542775,834322,3241410,7257153,1224137
1987,242282918,13508700,1483999,12024700,20096,91110,517704,855088,3236184,7499900,1288674
1988,245807000,13923100,1566220,12356900,20680,92490,542970,910090,3218100,7705900,1432900
1989,248239000,14251400,1646040,12605400,21500,94500,578330,951710,3168200,7872400,1564800
1990,248709873,14475600,1820130,12655500,23440,102560,639270,1054860,3073900,7945700,1635900
1991,252177000,14872900,1911770,12961100,24700,106590,687730,1092740,3157200,8142200,1661700
1992,255082000,14438200,1932270,12505900,23760,109060,672480,1126970,2979900,7915200,1610800
1993,257908000,14144800,1926020,12218800,24530,106010,659870,1135610,2834800,7820900,1563100
1994,260341000,13989500,1857670,12131900,23330,102220,618950,1113180,2712800,7879800,1539300
1995,262755000,13862700,1798790,12063900,21610,97470,580510,1099210,2593800,7997700,1472400
1996,265228572,13493863,1688540,11805300,19650,96250,535590,1037050,2506400,7904700,1394200
1997,267637000,13194571,1634770,11558175,18208,96153,498534,1023201,2460526,7743760,1354189
1998,270296000,12475634,1531044,10944590,16914,93103,446625,974402,2329950,7373886,1240754
1999,272690813,11634378,1426044,10208334,15522,89411,409371,911740,2100739,6955520,1152075
2000,281421906,11608072,1425486,10182586,15586,90178,408016,911706,2050992,6971590,1160002
2001,285317559,11876669,1439480,10437480,16037,90863,423557,909023,2116531,7092267,1228391
2002,287973924,11878954,1423677,10455277,16229,95235,420806,891407,2151252,7057370,1246646
2003,290690788,11826538,1383676,10442862,16528,93883,414235,859030,2154834,7026802,1261226
2004,293656842,11679474,1360088,10319386,16148,95089,401470,847381,2144446,6937089,1237851
2005,296507061,11565499,1390745,10174754,16740,94347,417438,862220,2155448,6783447,1235859
2006,299398484,11401511,1418043,9983568,17030,92757,447403,860853,2183746,6607013,1192809

In [150]:
df2.groupby('calories')['cost'].mean()

calories
68     0.380
72     0.460
97     0.470
99     0.430
102    0.460
113    0.400
135    0.500
139    0.430
140    0.440
144    0.430
145    0.280
149    0.605
150    0.760
151    0.430
152    0.770
157    0.480
170    0.730
175    0.400
Name: cost, dtype: float64

Sort df first by the values in the 'Murder' in decending order, then by the value in the 'Violent' column in ascending order.

In [156]:
Mur=df3.sort_values(['Murder'],ascending=True)
Mur.sort_values(['Forcible_Rape'],ascending=False)

,Population,Total,Violent,Property,Murder,Forcible_Rape,Robbery,Aggravated_assault,Burglary,Larceny_Theft,Vehicle_Theft
Year,,,,,,,,,,,
1992,255082000,14438200,1932270,12505900,23760,109060,672480,1126970,2979900,7915200,1610800
1991,252177000,14872900,1911770,12961100,24700,106590,687730,1092740,3157200,8142200,1661700
1993,257908000,14144800,1926020,12218800,24530,106010,659870,1135610,2834800,7820900,1563100
1990,248709873,14475600,1820130,12655500,23440,102560,639270,1054860,3073900,7945700,1635900
1994,260341000,13989500,1857670,12131900,23330,102220,618950,1113180,2712800,7879800,1539300
1995,262755000,13862700,1798790,12063900,21610,97470,580510,1099210,2593800,7997700,1472400
1996,265228572,13493863,1688540,11805300,19650,96250,535590,1037050,2506400,7904700,1394200
1997,267637000,13194571,1634770,11558175,18208,96153,498534,1023201,2460526,7743760,1354189
2002,287973924,11878954,1423677,10455277,16229,95235,420806,891407,2151252,7057370,1246646
2004,293656842,11679474,1360088,10319386,16148,95089,401470,847381,2144446,6937089,1237851
1989,248239000,14251400,1646040,12605400,21500,94500,578330,951710,3168200,7872400,1564800
2005,296507061,11565499,1390745,10174754,16740,94347,417438,862220,2155448,6783447,1235859
2003,290690788,11826538,1383676,10442862,16528,93883,414235,859030,2154834,7026802,1261226
1998,270296000,12475634,1531044,10944590,16914,93103,446625,974402,2329950,7373886,1240754
2006,299398484,11401511,1418043,9983568,17030,92757,447403,860853,2183746,6607013,1192809
1988,245807000,13923100,1566220,12356900,20680,92490,542970,910090,3218100,7705900,1432900
1986,240132887,13211869,1489169,11722700,20613,91459,542775,834322,3241410,7257153,1224137
1987,242282918,13508700,1483999,12024700,20096,91110,517704,855088,3236184,7499900,1288674
2001,285317559,11876669,1439480,10437480,16037,90863,423557,909023,2116531,7092267,1228391
2008,304374846,11160543,1392628,9767915,16442,90479,443574,842134,2228474,6588046,958629
2007,301621157,11251828,1408337,9843481,16929,90427,445125,855856,2176140,6568572,1095769
2000,281421906,11608072,1425486,10182586,15586,90178,408016,911706,2050992,6971590,1160002
1999,272690813,11634378,1426044,10208334,15522,89411,409371,911740,2100739,6955520,1152075
2009,307006550,10762956,1325896,9337060,15399,89241,408742,812514,2203313,6338095,795652
1985,238740000,12431400,1328800,11102600,18980,88670,497870,723250,3073300,6926400,1102900
2010,309330219,10363873,1251248,9112625,14772,85593,369089,781844,2168457,6204601,739565
2012,313873685,10219059,1217067,9001992,14866,85141,355051,762009,2109932,6168874,723186
1984,236158000,11881800,1273280,10608500,18690,84230,485010,685350,2984400,6591900,1032200
2011,311587816,10258774,1206031,9052743,14661,84175,354772,752423,2185140,6151095,716508
2014,318857056,9475816,1197987,8277829,14249,84041,325802,741291,1729806,5858496,689527
1980,225349264,13408300,1344520,12063700,23040,82990,565840,672650,3795200,7136900,1131700
1981,229146000,13423800,1361820,12061900,22520,82500,592910,663900,3779700,7194400,1087800
2013,316497531,9850445,1199684,8650761,14319,82109,345095,726575,1931835,6018632,700294
1983,233981000,12108600,1258090,10850500,19310,78920,506570,653290,3129900,6712800,1007900
1982,231534000,12974400,1322390,11652000,21010,78770,553130,669480,3447100,7142500,1062400
1979,220099000,12249500,1208030,11041500,21460,76390,480700,629480,3327700,6601000,1112800
1978,218059000,11209000,1085550,10123400,19560,67610,426930,571460,3128300,5991000,1004100
1977,216332000,10984500,1029580,9955000,19120,63500,412610,534350,3071500,5905700,977700
1976,214659000,11349700,1004210,10345500,18780,57080,427810,500530,3108700,6270800,966000
1975,213124000,11292400,1039710,10252700,20510,56090,470500,492620,3265300,5977700,1009600
1974,211392000,10253400,974720,9278700,20710,55400,442400,456210,3039200,5262500,977100
1973,209851000,8718100,875910,7842200,19640,51400,384220,420650,2565500,4347900,928800
1972,208230000,8248800,834900,7413900,18670,46850,376290,393090,2375500,4151200,887200
1971,206212000,8588200,816500,7771700,17780,42260,387700,368760,2399300,4424200,948200
1970,203235298,8098000,738820,7359200,16000,37990,349860,334970,2205000,4225800,928400
1969,201385000,7410900,661870,6749000,14760,37170,298850,311090,1981900,3888600,878500
1968,199399000,6720200,595010,6125200,13800,31670,262840,286700,1858900,3482700,783600
1967,197457000,5903400,499930,5403500,12240,27620,202910,257160,1632100,3111600,659800
1966,195576000,5223500,430180,4793300,11040,25820,157990,235330,1410100,2822000,561200
1965,193526000,4739400,387390,4352000,9960,23410,138690,215330,1282500,2572600,496900
1964,191141000,4564600,364220,4200400,9360,21420,130390,203050,1213200,2514400,472800
1963,188483000,4109500,316970,3792500,8640,17650,116470,174210,1086400,2297800,408300
1962,185771000,3752200,301510,3450700,8530,17550,110860,164570,994300,2089600,366800
1961,182992000,3488000,289390,3198600,8740,17220,106670,156760,949600,1913000,336000
1960,179323175,3384200,288460,3095700,9110,17190,107840,154320,912100,1855400,328200

In [153]:
Mur

,Population,Total,Violent,Property,Murder,Forcible_Rape,Robbery,Aggravated_assault,Burglary,Larceny_Theft,Vehicle_Theft
Year,,,,,,,,,,,
1962,185771000,3752200,301510,3450700,8530,17550,110860,164570,994300,2089600,366800
1963,188483000,4109500,316970,3792500,8640,17650,116470,174210,1086400,2297800,408300
1961,182992000,3488000,289390,3198600,8740,17220,106670,156760,949600,1913000,336000
1960,179323175,3384200,288460,3095700,9110,17190,107840,154320,912100,1855400,328200
1964,191141000,4564600,364220,4200400,9360,21420,130390,203050,1213200,2514400,472800
1965,193526000,4739400,387390,4352000,9960,23410,138690,215330,1282500,2572600,496900
1966,195576000,5223500,430180,4793300,11040,25820,157990,235330,1410100,2822000,561200
1967,197457000,5903400,499930,5403500,12240,27620,202910,257160,1632100,3111600,659800
1968,199399000,6720200,595010,6125200,13800,31670,262840,286700,1858900,3482700,783600
2014,318857056,9475816,1197987,8277829,14249,84041,325802,741291,1729806,5858496,689527
2013,316497531,9850445,1199684,8650761,14319,82109,345095,726575,1931835,6018632,700294
2011,311587816,10258774,1206031,9052743,14661,84175,354772,752423,2185140,6151095,716508
1969,201385000,7410900,661870,6749000,14760,37170,298850,311090,1981900,3888600,878500
2010,309330219,10363873,1251248,9112625,14772,85593,369089,781844,2168457,6204601,739565
2012,313873685,10219059,1217067,9001992,14866,85141,355051,762009,2109932,6168874,723186
2009,307006550,10762956,1325896,9337060,15399,89241,408742,812514,2203313,6338095,795652
1999,272690813,11634378,1426044,10208334,15522,89411,409371,911740,2100739,6955520,1152075
2000,281421906,11608072,1425486,10182586,15586,90178,408016,911706,2050992,6971590,1160002
1970,203235298,8098000,738820,7359200,16000,37990,349860,334970,2205000,4225800,928400
2001,285317559,11876669,1439480,10437480,16037,90863,423557,909023,2116531,7092267,1228391
2004,293656842,11679474,1360088,10319386,16148,95089,401470,847381,2144446,6937089,1237851
2002,287973924,11878954,1423677,10455277,16229,95235,420806,891407,2151252,7057370,1246646
2008,304374846,11160543,1392628,9767915,16442,90479,443574,842134,2228474,6588046,958629
2003,290690788,11826538,1383676,10442862,16528,93883,414235,859030,2154834,7026802,1261226
2005,296507061,11565499,1390745,10174754,16740,94347,417438,862220,2155448,6783447,1235859
1998,270296000,12475634,1531044,10944590,16914,93103,446625,974402,2329950,7373886,1240754
2007,301621157,11251828,1408337,9843481,16929,90427,445125,855856,2176140,6568572,1095769
2006,299398484,11401511,1418043,9983568,17030,92757,447403,860853,2183746,6607013,1192809
1971,206212000,8588200,816500,7771700,17780,42260,387700,368760,2399300,4424200,948200
1997,267637000,13194571,1634770,11558175,18208,96153,498534,1023201,2460526,7743760,1354189
1972,208230000,8248800,834900,7413900,18670,46850,376290,393090,2375500,4151200,887200
1984,236158000,11881800,1273280,10608500,18690,84230,485010,685350,2984400,6591900,1032200
1976,214659000,11349700,1004210,10345500,18780,57080,427810,500530,3108700,6270800,966000
1985,238740000,12431400,1328800,11102600,18980,88670,497870,723250,3073300,6926400,1102900
1977,216332000,10984500,1029580,9955000,19120,63500,412610,534350,3071500,5905700,977700
1983,233981000,12108600,1258090,10850500,19310,78920,506570,653290,3129900,6712800,1007900
1978,218059000,11209000,1085550,10123400,19560,67610,426930,571460,3128300,5991000,1004100
1973,209851000,8718100,875910,7842200,19640,51400,384220,420650,2565500,4347900,928800
1996,265228572,13493863,1688540,11805300,19650,96250,535590,1037050,2506400,7904700,1394200
1987,242282918,13508700,1483999,12024700,20096,91110,517704,855088,3236184,7499900,1288674
1975,213124000,11292400,1039710,10252700,20510,56090,470500,492620,3265300,5977700,1009600
1986,240132887,13211869,1489169,11722700,20613,91459,542775,834322,3241410,7257153,1224137
1988,245807000,13923100,1566220,12356900,20680,92490,542970,910090,3218100,7705900,1432900
1974,211392000,10253400,974720,9278700,20710,55400,442400,456210,3039200,5262500,977100
1982,231534000,12974400,1322390,11652000,21010,78770,553130,669480,3447100,7142500,1062400
1979,220099000,12249500,1208030,11041500,21460,76390,480700,629480,3327700,6601000,1112800
1989,248239000,14251400,1646040,12605400,21500,94500,578330,951710,3168200,7872400,1564800
1995,262755000,13862700,1798790,12063900,21610,97470,580510,1099210,2593800,7997700,1472400
1981,229146000,13423800,1361820,12061900,22520,82500,592910,663900,3779700,7194400,1087800
1980,225349264,13408300,1344520,12063700,23040,82990,565840,672650,3795200,7136900,1131700
1994,260341000,13989500,1857670,12131900,23330,102220,618950,1113180,2712800,7879800,1539300
1990,248709873,14475600,1820130,12655500,23440,102560,639270,1054860,3073900,7945700,1635900
1992,255082000,14438200,1932270,12505900,23760,109060,672480,1126970,2979900,7915200,1610800
1993,257908000,14144800,1926020,12218800,24530,106010,659870,1135610,2834800,7820900,1563100
1991,252177000,14872900,1911770,12961100,24700,106590,687730,1092740,3157200,8142200,1661700

For each cyl type and each number of gears, find the mean mileage.

In [157]:
df2.pivot_table(index='cost', columns='name', values='calories', aggfunc='mean')

name,Augsberger,Becks,Budweiser,Budweiser_Light,Coors,Coors_Light,Hamms,Heilemans_Old_Style,Heineken,Kirin,Kronenbourg,Lowenbrau,Michelob_Light,Miller_Lite,Old_Milwaukee,Olympia_Goled_Light,Pabst_Extra_Light,Schlitz,Schlitz_Light,Srohs_Bohemian_Style
cost,,,,,,,,,,,,,,,,,,,,
0.28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,145.0,NaN,NaN,NaN,NaN,NaN
0.38,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,68.0,NaN,NaN,NaN
0.40,175.0,NaN,NaN,113.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0.42,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,149.0
0.43,NaN,NaN,144.0,NaN,NaN,NaN,139.0,144.0,NaN,NaN,NaN,NaN,NaN,99.0,NaN,NaN,NaN,151.0,NaN,NaN
0.44,NaN,NaN,NaN,NaN,140.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0.46,NaN,NaN,NaN,NaN,NaN,102.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,72.0,NaN,NaN,NaN,NaN
0.47,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,97.0,NaN
0.48,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,157.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0.50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,135.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0.73,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,170.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0.76,NaN,150.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0.77,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,152.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0.79,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,149.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN